body {
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    background-image: url("/assets/background.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: top center;
    max-height: 1240px;
    /* overflow: hidden; */
    scroll-snap-type: y mandatory;
}

/* navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDE0E0;
    padding: 10px;
    color: #757575;
    position: sticky;
    top: 0;
    z-index: 1000;
    max-width: 1200px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #757575;
    text-decoration: none;
}

.csv-button {
    background-color: #E87E7E;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-family: "IBM Plex Mono", monospace;
}

.csv-button a {
    text-decoration: none;
    color: white;
}

.toggle-button {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.mobile-nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #FDE0E0;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 0;
}

.mobile-nav-links li {
    margin: 10px 0;
}

.mobile-nav-links a {
    color: #757575;
    text-decoration: none;
}

.mobile-nav-links .csv-button {
    margin: 10px auto;
}

/* ----------------------------------------- intro section */
.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.intro-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: transparent
}

.intro-text {
    flex: 1;
    padding: 100px;
}

.intro-text h1 {
    margin: 0;
    font-size: 44px;
    font-family: "Raleway", sans-serif;
    color:#FF9494;

}

.intro-text h2 {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #080808;
    line-height: 24px;
    letter-spacing: 1%;
}

.location, .status {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 20px 0;
    font-size: 14px;
}

.location img, .online-circle {
    width: 24px;
    height: 24px;
}

.online-circle {
    background-color: #62BA1B;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.intro-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-image img {
    width: 420px;
    height: 420px;
    border-radius: 50%;
    object-fit: cover;
}

/* ----------------------------------------- about section */
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.about-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #FFECEC;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.about-text {
    flex: 1;
    padding: 20px;
}

.about-text h1 {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 34px;
    font-weight: 800;
    color: #080808;
}

.scale {
    animation:none;
    -webkit-animation:none;
}

.scale-up {
    animation: zoomIn 2s ease 0s 1 normal forwards;
    -webkit-animation: zoomIn 2s ease 0s 1 normal forwards;
}

@keyframes zoomIn {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

.bounce {
    animation: none;
    -webkit-animation: none;
    animation-fill-mode: none;
}

.bounce-left {
    animation: bounceInLeft 1s ease-out;
    animation-fill-mode: forwards;
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
}
    60% {
        opacity: 1;
        transform: translateX(20px);
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
}
    80% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.zoom {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

@media (prefers-reduced-motion: no-preference) {
    .zoom {
      transition: opacity 1s ease, transform 1s ease;
      -webkit-transition: opacity 1s ease, transform 1s ease;
      -moz-transition: opacity 1s ease, transform 1s ease;
      -ms-transition: opacity 1s ease, transform 1s ease;
      -o-transition: opacity 1s ease, transform 1s ease;
}
  }

.animation-zoom {
    opacity: 1;
    transform: translate(0, 0);
}


.about-text p {
    margin: 15px;
    font-size: 16px;
    color: #9C9C9C;
    text-align: justify;
}

.about-text a {
    color: #FF9494;
    font-weight: 600;
    text-decoration: none;
}

.about-image {
    flex: 1;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-image img {
    width: 70%;
    position: relative;
    z-index: 0;
}

.social-icons-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: -20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}

.social-icons a {
    margin: 0 10px;
    position: relative;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: background-color 0.3s ease;
}

.social-icons a:hover img {
    background-color: #FF9494;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.social-icons a:hover img {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* ----------------------------------------- services section */
.services-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 20px;
}

.services-content {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
    padding: 40px;
}

.services-text {
    flex: 1;
    padding: 20px;
}

.services-text h3 {
    font-family: "Raleway", sans-serif;
    margin: 0;
    font-size: 20px;
    font-weight: 800;
    color: #FF9494;
}

.services-text h1 {
    font-family: "IBM Plex Mono", monospace;
    margin: 10px 0;
    font-size: 34px;
}

.services-text p {
    margin: 51px 0;
    font-size: 16px;
    color: #757575;
}

.contact-button {
    background-color: #E87E7E;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 1em;
    margin-top: 20px;
}

.contact-button a{
    text-decoration: none;
    color: white;
}

.contact-button:hover {
    background-color: #d76c6c;
}

.services-list {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;
    align-items: flex-end;
}

.service-item {
    display: flex;
    align-items: center;
    width: 100%; /* Ensure the service item takes the full width of its container */
    max-width: 600px; /* Optional: Set a max-width for each service item */
    padding: 20px;
    border: 1px solid #FFD1D1;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.service-image {
    flex-shrink: 0;
    width: 90px;
    height: 90px;
    margin-right: 20px;
    position: relative;
}

.service-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.service-tag {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #E87E7E;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
}

.service-info h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.service-info p {
    font-size: 14px;
    text-align: justify;
    line-height: 24px;
    color: #757575;
    word-wrap: break-word;
}

/* ----------------------- Works section */

.featured-works-section {
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 20px;
    background-color: #FFECEC;
}

.featured-works-section {
    text-align: center;
    padding: 20px;
}

.section-title {
    font-size: 34px;
    margin-bottom: 20px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.category {
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.category:hover,
.category.active {
    background-color: #FF9494;
    color: white;
}

.work-carousel {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.work-carousel-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
    justify-items: center;
    justify-content: space-around;
    margin-left: 3rem;
    margin-right: 3rem;
}

.work-carousel-item {
    cursor: pointer;
    height: fit-content;
    text-align: left;
    min-height: 22vh;
    width: 20rem;
    background-color: #18151fe6;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.work-carousel-item a {
    padding: 0;
    display: flex;
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    text-decoration: none;
    background-color: transparent;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
}

.work-carousel-item a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    z-index: 1;
    border-radius: 10px; 
}

.work-carousel-item a:hover::before {
    background-color: rgba(0, 0, 0, 0.1); 
}

.work-carousel-item:hover {
    transform: scale(1.05);
}

.work-carousel-item a > * {
    position: relative;
    z-index: 2;
}

.work-carousel-item img {
    width: 100%;
    object-fit: cover;
    height: 9rem;
    transition: all 0.2s ;
    -webkit-transition: all 0.2s ;
    -moz-transition: all 0.2s ;
    -ms-transition: all 0.2s ;
    -o-transition: all 0.2s ;
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
    opacity: 0.85;
    margin-bottom: -1.85rem;
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 75%, rgba(0, 0, 0, 0.4) 85%, rgba(0, 0, 0, 0) 100%);
    mask-mode: alpha;
    object-position: center center;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}

.work-content {
    padding: 0.6rem 0.8rem;
    padding-top: 0.8rem;
    margin-top: auto;
}

.work-title-content{
    display: flex;
    justify-content: space-between;
    color: #FF9494;
    text-shadow: 2px 2px 12px rgb(13, 13, 13);
}

.tech {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;
    height: 4rem;
}

.tech .tech-img{
    height: 2rem;
    width: 2rem;
    margin-top: -1.5rem;
    background-color: #ddd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    mask-image: none;
    opacity:unset;
}

.work-title {
    font-size: 19px;
    font-weight: 800;
}

.work-description {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    color: #9C9C9C;
    position: relative;
}

.work-description::after {
    content: '';
    position: absolute;
    top: 0;
    left: -10px; /* Adjust the position as needed */
    width: 1px; /* Width of the vertical line */
    height: 100%; /* Match the height of the content */
    background-color: #9C9C9C; /* Color of the vertical line */
}

.work-carousel-control-prev,
.work-carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.work-carousel-control-prev {
    left: 10px;
}

.work-carousel-control-next {
    right: 10px;
}

.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.back-to-top img{
    width: 40px;
    height: 40px;
}

.back-to-top.show {
    display: block;
}

.back-to-top.show:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

/* tech section */
.tech-section {
    justify-content: center;
    align-items: center;
}
.technology-header{
    display: contents;
    text-align: center;
}

.technology-header h1{
    font-size: 34px;
    margin-bottom: 20px;
}

.tech-images {
    margin: 0px 80px;
}

.tech-images img{
    width: 90px;
    height: 90px;
    margin: 35px;
    transition: transform 0.3s ease;
}

.tech-images img:hover{
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltip-text {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 40%;
    margin-left: -60px;
  }
  
  .tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
  }

.contact {
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 20px;
    background-color: #FDE0E0;
}
.contact-wrapper{
    display: contents;
    text-align: center;
}

.contact-wrapper h1{
    font-size: 32px;
    margin-bottom: 20px;
}

.contact-wrapper h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.contact-wrapper h3{
    font-size: 32px;
    margin-bottom: 20px;
}

.contact-wrapper a{
    text-decoration: none;
    color: #d76c6c;
}

.sns-wrapper img{
    width: 30px;
    height: 30px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.sns-wrapper img:hover {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}

/* Hide buttons for larger screens */
@media (min-width: 768px) {
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}



@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .csv-button:not(.mobile) {
        display: none;
    }

    .toggle-button {
        display: block;
    }

    .navbar.active + .mobile-nav-links {
        display: flex;
    }

    .introduction {
        margin: 20px 0;
    }

    .intro-content h1{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .intro-content h2{
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }

    .location, .status {
        display: flex;
        align-items:center;
        margin: 20px 0;
        font-size: 12px;
    }

    .location img, .online-circle {
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }

    .intro-image {
        display: none;
    }

    .intro-text {
        padding: 0;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-image {
        margin-bottom: 20px;
    }

    .about-text {
        padding: 0;
    }

    /* services */

    .services-text {
        padding: 0;
        margin-bottom: 20px;
    }

    .contact-button {
        margin-bottom: 20px;
    }

    .services-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .services-list {
        display: flex;
        overflow: hidden;
        width: 100%;
        flex-direction: row;
        transition: transform 0.5s ease-in-out;
    }
    
    .service-item {
        display: flex;
        min-width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        height: 400px; /* Set a fixed height */
        overflow: hidden; /* Ensure content doesn't overflow */
    }
    
    .service-image img {
        max-height: 200px; /* Adjust as needed */
        object-fit: cover;
    }
    
    .service-info {
        flex-grow: 1;
        padding: 20px;
        overflow: auto; /* Allow scrolling if content overflows */
    }

    .carousel {
        position: relative;
        width: 100%;
        max-width: 600px;
        margin: auto;
        overflow: hidden;
        user-select: none; /* Prevent text selection during dragging */
    }
    
    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    
    .carousel-item {
        min-width: 100%;
        box-sizing: border-box;
    }
    
    .carousel-item img {
        width: 100%;
        display: block;
    }
    
    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #FF9494;
        color: white;
        border: none;
        padding: 5px;
        cursor: pointer;
        
    }
    
    .carousel-control-prev {
        left: 10px;
    }
    
    .carousel-control-next {
        right: 10px;
    }

}